/kafka/volumes
/kafka/volumes/*

/mongodb/volumes
/mongodb/volumes/*

/mysql/volumes/mysql
/mysql/volumes/mysql/*

/n8n/volumes/n8n
/n8n/volumes/n8n/*
/n8n/volumes/postgresql
/n8n/volumes/postgresql/*

/oraclexe/volumes
/oraclexe/volumes/*
/oraclexe/repository
/oraclexe/repository/*

/postgresql/volumes
/postgresql/volumes/*

/rabbitmq/volumes
/rabbitmq/volumes/*

/sonarqube/volumes
/sonarqube/volumes/*

